*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Calculator{
    background-color: #f2adad;
    padding: 20px;
    border-radius: 15px;
    box-shadow:  4px 4px 4px 4px#949393;
    width: 250px;
    height: 50%;

}
#display{
    width:100% ;
    height: 60px;
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
    border-radius: 15px;
    border: 5px solid white;
    background-color: #e0dfdf;
    margin-bottom: 15px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
height: 30px;
font-size: 20px;
border: none;
border-radius: 10px;
cursor: pointer;
transition:0.3s;
}
button:hover{
    background-color: #c3c0c0;
}
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #555;
  font-weight: 500;
}

.dark-mode footer {
  color: #ddd;
}
