*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #fdeeee;
    display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
    
}
.Calculator{
    background-color: #f98e8eb2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px #393636 ;
    width: 250px;



}
#display{
    outline: none;
    width:100%;
    height: 60px;
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
    border-radius: 15px;
    border: 5px solid rgb(250, 248, 248);
    background-color: #bbb9b9;
    margin-bottom: 15px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
button{
margin-bottom: 5px;
height: 35px;
font-size: 20px;
border: none;
border-radius:10px;
cursor: pointer;
transition:0.3s;
}
button:hover{
    background-color: #afaeae;
}
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #2d2c2c;
  font-weight: 500;
}

